var/
custom.el
.backup
.cache/
config.el
log/
eln-cache/
elpa/
straight/
etc/
init.el
history
places
recentf
tramp
savehist
easysession/
auto-save-list
projectile-bookmarks.eld
backup
transient/
.lsp-session-v1
.mc-lists.el
org-roam.db
