[submodule "lisp/no-littering"]
	path = lisp/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "lisp/combobulate"]
	path = lisp/combobulate
	url = https://github.com/mickeynp/combobulate.git
[submodule "lisp/flymake-posframe"]
	path = lisp/flymake-posframe
	url = https://github.com/Ladicle/flymake-posframe.git
