org-roam.db
var/
custom.el
.backup
.cache/
config.el
customs.el
log/
eln-cache/
elpa/
straight/
etc/
init.el
history
places
recentf
tramp
savehist
easysession/
auto-save-list
projectile-bookmarks.eld
backup
transient/
elpaca/
.persistent-scratch
.lsp-session-v1
projects
undo-fu-session/
tabsession.el
.mc-lists.el
persistent-scratch/
